*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  max-width: 1920px;
  margin: 0 auto;
}

img {
  max-width: 100%;
  height: auto;
  object-fit: contain;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

.router-link-active {
  font-weight: 600;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
